@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #eff5f5;
}

div {
  width: 100%;
  height: 5vw;
  background-color: #8cacb4;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2vw;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  flex-grow: 2;
}

.preventFlexWrapProblem {
  width: 0;
  margin-bottom: 0;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9bbec8;
  margin: 11.05vw 0 0 0;
  padding: 0 13vw;
  transition: background 500ms;
}

aside:hover {
  background: #ffca67;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h2 {
  color: #6b8288;
  font-size: 3vw;
  padding: 6vw 0 1.2vw 0;
}

h3 {
  font-family: "Madimi One", sans-serif;
  letter-spacing: 0.2vw;
  font-size: 8vw;
  color: #ffffff;
  cursor: pointer;
}

.card p {
  color: #ffffff;
  font-size: 2vw;
  margin: 0;
  padding: 1vw 0 1vw 1.3vw;
}

.card1 p:nth-child(2n) {
  background-color: #ffa9b3;
}

.card1 p:nth-child(2n + 1) {
  background-color: #ffc7c7;
}

.card2 p:nth-child(2n) {
  background-color: #8da9c4;
}

.card2 p:nth-child(2n + 1) {
  background-color: #9ecee4;
}

.card3 p:nth-child(2n) {
  background-color: #cfb597;
}

.card3 p:nth-child(2n + 1) {
  background-color: #ddcdb0;
}
